<ion-card class="card">
  <ion-card-header >
    <ion-item class="shadow">
      <ion-label>Working on Ionic App</ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="shadow gap">
          <ion-label>Goals</ion-label>
          <ion-item >
            <ion-label>start project</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item >
            <ion-label>app components</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item >
            <ion-label>start design</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item >
            <ion-label>add tailwind</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col class="shadow gap">
          <app-timer></app-timer>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>